
h1, h2, p{
   text-align: center;

}
.center{
    margin: auto;
    width: 50%;
}
.navbar a{
    margin: auto;
}
h1{
    color: #6a5acd;
}
p{
   color: #d44ea0;
}
body{
    background-color: #fee2f5;
    margin: auto;
}
footer img{
    margin: auto;
}

/* Table Design */
table caption{
    color: #ff8347;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
th{
    color: #47966e;
}
tr{
    color: #47256e;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: #ff686e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
table tr:nth-child(odd){
    background-color: #d9ff6e;
}
table tr:nth-child(even){
    background-color: #d9ffbd;
}
/* Form */
form{
    background-color: #47256e;
}
label, legend{
    color: #fee2f5;
}
a:visited{
    text-decoration: none;
    decoration: none;
}
a{
    color: orangered;
}

#useless :nth-of-child(3) {
    text-align: center;
    font: comic-sans;
    font-size: large;

}