/* for mobile devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}
/* for tablet  */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}
/* for small screens/laptops */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
}

main { 
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}

body, h1, h2, h3, p, nav{
   text-align: center;

}
.center{
    margin: auto;
    width: 50%;
}
header > .navbar a{
    padding: 15px;
    align-items: center;

}
h1{
    color: #6a5acd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
   color: #d44ea0;
}
body{
    background-color: #fee2f5;
    margin: auto;
}
footer img{
    margin: auto;
}
h3{
    color: #fdb0c0;
}

/* Table Design */
table{
    text-align: center;
}
table caption{
    color: #ff8347;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
th{
    color: #47966e;
}
tr{
    color: #47256e;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: hotpink;
    font-family: Verdana, Geneva, Tahoma, serif; 
}
table tr:nth-child(odd){
    background-color: #d9ff6e;
}
table tr:nth-child(even){
    background-color: #d9ffbd;
}
/* Form */
form{
    background-color: #47256e;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

label, legend{
    color: #fee2f5;
}
a:visited{
    text-decoration: none;
    decoration: none;
}
label {
    display: block;
    margin: 0.5rem 0;
  }
a{
    color: orangered;
}

#useless :nth-of-child(3) {
    text-align: center;
    font: comic-sans;
    font-size: large;

}
footer > .navbar a{
padding: 15px;
}
footer > a{
    padding: 15px;
    box-sizing: border-box;
}
ul li{
    list-style-type: "💞 ";
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #702963;

}
ol li{
    counter-increment: item;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    display: list-item;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #702963;
}

.hidden {
    display: none;
  }
  figure img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
figcaption{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #c057a5;
}
.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.container {
    position: relative;
  }
  
  