/* for mobile devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}
/* for tablet  */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}
/* for small screens/laptops */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
}
main { 
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}



body, h1, h2, h3, p, nav{
    text-align: center;
    font-family: ;
 
 }
 .center{
     margin: auto;
     width: 50%;
 }
 navbar{
    padding: 15px;
    color: aqua;
 }
 a{
    color: #3d3d88;
    padding: 5px;
    font-family: fantasy;
 }
 body{
    background-color: rgb(0, 191, 172);
 }
 h1{
    color: #ad1d00;
    font-family: Trattatello, fantasy;
 } 
 h2, h3{
    color: #cae4ff ;
    font-family: Marker Felt, fantasy;
 }
 p{
    color: rgb(114, 109, 187);
    font-family: Marker Felt, fantasy;

 }
 footer > .navbar a{
    padding: 15px;
    }
