/* for mobile devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}
/* for tablet  */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}
/* for small screens/laptops */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
}
main { 
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}



body, h1, h2, h3, p, nav{
    text-align: center;
   
 
 }
 .center{
     margin: auto;
     width: 50%;
 }
 navbar{
    padding: 15px;
    color: rgb(27, 213, 213);
 }
 a{
    color: rgb(44, 177, 164);
    padding: 5px;
    font-family: fantasy;
    align-items: center;
 }
 body{
    background-color: rgb(249, 242, 215);
 }
 h1{
    color: #ad1d00;
    font-family: Trattatello, fantasy;
 } 
 h2, h3{
    color: rgb(224, 0, 0) ;
    font-family: Marker Felt, fantasy;
 }
 p{
    color: rgb(240, 156, 156);
    font-family: Marker Felt, fantasy;

 }
 footer > .navbar a{
    padding: 15px;
    }

.slideshow-container {
        position: relative;
        max-width: 800px;
        margin: auto;
        overflow: hidden;
    }
.container {
        position: relative;
      }
      /* Form Styling */
form {
        max-width: 400px;
        margin: 20px auto;
    }
input[type="text"], input[type="submit"], select {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        font-family: Marker Felt, fantasy;
        color: #ad1d00;
    }
    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-family: Marker Felt, fantasy;
        color: #ad1d00;
    }
