<nav class="footer-nav">
    <a href="https://webpages.charlotte.edu/esu3/">CLT Webspace</a>
    🦭
    <a href="https://github.com/suluuelif">Github</a>
    🦭
    <a href="https://suluuelif.github.io/itis3135">Github Course Page</a>
    🦭
    <a href="https://www.freecodecamp.org/suluelif">freecodecamp</a> 
    🦭
    <a href="https://www.codecademy.com/profiles/suluelif">codeacademy</a>
    🦭
    <a href="https://www.linkedin.com/in/elif-su/">LinkedIn</a>
    🦭
    <a href="https://github.com/suluuelif/suluuelif.github.io">Github.io</a>
</nav>

<p>Designed by <a href="sudesigns.org/Su-Activity4.html">Su Designs</a>, Certified<a href="https://www.freecodecamp.org/certification/suluelif/responsive-web-design"> RWD</a>, Certified<a href="https://www.freecodecamp.org/certification/suluelif/javascript-algorithms-and-data-structures-v8"> JS</a></p>
<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
</a>
<a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" class="center
    ">
</a>
<a href="https://wave.webaim.org/report#/https://webpages.charlotte.edu/esu3/itis3135/" id="validation_link_disability"> <img style="border:0;width:88px;height:31px" src="images/button_validation_wcag-2.png" alt="Valid Disabiliy/Accessibility Design!">  
</a>
     <button type = "button" onclick = 	"document.querySelectorAll('link[rel=stylesheet]').forEach(function(e)	{e.setAttribute('href', '');});">No CSS</button>
