
        <nav class="navbar background">
                <div style="
                color: brown;
                font-size: large;
                font-family: cursive;
                ">
                <em>Eerie Seal; Seal The Deal</em>
                </div>
                

           
                <a href="./">Homepage</a> 
                🦭
                <a href="introduction.html">Introduction</a>
                🦭
                <a href="contract.html">Contract</a>
                🦭
                <a href="tables.html">Tables</a>
                🦭
                <a href="forms.html">Forms</a>
                🦭
                <a href="website_evaluations.html">Website Evaluations</a>
                🦭
                <a href="about.html">About</a>
                🦭
                <a href="firstscripts.html">First Scripts</a>
                🦭
                <a href="byo_intro.html">BYO Intro</a>
                🦭
                <a href="hobby/index.html">Hobby</a>
                🦭
                <a href="project/index.html">Client Project</a>
                🦭
                <a href="review1.html">Review 1</a>
                🦭
                <a href="review2.html">Review 2</a>
        </nav>